.order-details {
  margin-bottom: var(--default-margin-bottom);
  padding-bottom: 1em !important;
}

.order-details > * {
  margin-bottom: 1.5em;
}
.order-details h4 {
  margin-bottom: 0.5em;
}
.order-details > :last-child {
  margin-bottom: 0;
}
.order-details .order-details__pickup-location {
  align-items: flex-start;
}
.order-details .pickup-details > * {
  margin-bottom: var(--default-margin-bottom);
}
.order-details .pickup-details > * > span:nth-child(1) {
  width: 20%;
}
.order-details .pickup-details > * > span:nth-child(2) {
  width: 75%;
  font-weight: 600;
}

.order-details .pickup-details .flex {
  align-items: baseline;
}
.order-details .pickup-details_selectors {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--default-margin-bottom);
}
.order-details .pickup-details_selectors .ant-select {
  width: 44%;
}

.order-details .tips {
  padding-bottom: 10px;
  padding-top: 5px;
  width: 70%;
}
.order-details .tips h5 {
  margin-bottom: var(--default-margin-bottom);
}
.order-details .tips .other-amount {
  padding-top: 0.5em;
}
.order-details .tips .other-amount span {
  font-size: 0.8rem;
}
.order-details .tips .ant-slider-handle {
  background-color: var(--primary-color);
  min-width: 40px;
  max-width: 70px;
  width: auto;
  height: 25px;
  padding: 0 8px;
  border-radius: 4px;
  z-index: 5;
  opacity: 1;
  margin-top: -15px;
  color: #fff;
  text-align: center;
}

/*.subtotal {
  margin-bottom: 0;
}*/
.subtotal > * {
  margin-bottom: 0.5em;
}
.total {
  margin-bottom: var(--default-margin-bottom);
}


.ant-slider-mark > span:first-child {
  padding-left: 32px;
}
.subtotal-price {
  position: relative;
}
.order-discount > span:first-child {
  padding-left: 1em;
}
.subtotal-price-with-discount {
  position: relative;
}
.subtotal-price-with-discount:after {
  content: ' ';
  position: absolute;
  top: 44%;
  right: 0;
  border-bottom: 2px solid #000;
  width: 100%;
  display: block;
}

.order-details__divider {
    display: block;
    width: 26%;
    height: 3px;
    right: 0;
    background-color: #0097a7;
    margin: 1.5em 0 1.5em auto;
}