.heartland-iframe-field-wrapper {
  width: 100%;
  display: flex;
  position: relative;
}
  
.heartland-iframe-field-wrapper iframe {
  width: 100%;
  height: 32px;
}

.heartland-form .form-row {
  display: flex;
  flex-direction: row;
}

.heartland-form .divider-vertical {
  width: 50px;
}

.heartland-form .form-field {
  margin-bottom: var(--default-margin-bottom);
}

.heartland-form .submit-button {
  margin-bottom: var(--default-margin-bottom);
  align-self: flex-end;
  height: 32px;
  line-height: 32px;
  padding: 0;
  box-sizing: border-box;
}

