.order-items-list-table {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  table-layout: fixed;
}
.order-items-list-table td {
  vertical-align: top;
  /*padding-top: 1em;*/
}
/*.discounted-price-row-original td {
  padding-bottom: 1em;
}*/
.order-items-list__item-delete {
  width: 10%;
}

.order-items-list__item-delete svg {
  font-size: 18px;
  color: var(--color-light-grey);
  margin-top: 1px;
}

.order-items-list-item__name {
  display: inline-flex;
  align-items: center;
}

.order-items-list-table__qty,
.order-items-list-table__price {
  text-align: right;
  /*min-width: 40px;*/
  width: 16%;
  position: relative;
}
.order-items-list-table__qty {
  width: 10%;
}
.order-items-list-table__price {
  font-weight: 600;
}
.order-items-list-table .discounted-price-row-original .order-items-list-table__qty span,
.order-items-list-table .discounted-price-row-original .order-items-list-table__price span {
  position: relative;
  display: inline-block;
  width: 100%;
}
.order-items-list-table .order-items-list-table__qty span {
  padding-right: 30%;
}
.order-items-list-table .discounted-price-row-original .order-items-list-table__qty:after,
.order-items-list-table .discounted-price-row-original .order-items-list-table__price:after {
  content: ' ';
  position: absolute;
  top: 40%;
  right: 0;
  border-bottom: 2px solid #000;
  width: 100%;
  display: block;
}

.order-details .order-items-list {
  margin-bottom: 3em;
  position: relative;
}
.order-details .order-items-list .order-items-list__item {
  align-items: flex-start;
  padding-bottom: var(--default-margin-bottom);
}
.order-details .order-items-list .discounted-price-row-original .order-items-list__item {
  padding-bottom: 0;
}

.order-details .order-items-list .order-items-list__item > span:nth-child(1) {
  padding-right: 1em;
  width: 88%;
}
.order-details .order-items-list .order-items-list__item-subitems {
  font-size: 0.7rem;
  font-weight: 400;
  display: inline-block;
}
.order-item__title > span:nth-child(1) {
  margin-right: 5px;
}
/*.order-details .order-items-list .order-items-list__item > span:nth-child(2){
    width: 10%;
}*/
.order-details .order-items-list .order-items-list__actions {
  justify-content: flex-start;
  margin: 0.6em 0;
  padding-left: 1em;
}
.order-details .order-items-list {
  position: relative;
}
.order-details .order-items-list:after {
  display: block;
  content: '';
  width: 26%;
  height: 3px;
  right: 0;
  bottom: -1em;
  background-color: #0097a7;
  position: absolute;
}
.order-details .order-items-list h4 {
  margin-bottom: 0.5em;
}
.order-details .order-items-list .order-items-list__actions > * {
  margin-right: 1.5em;
  font-size: 0.7rem;
}
.order-details .order-items-list .order-items-list__actions .order-items-list__actions-btn svg {
  font-size: 20px;
  color: #0097a7;
}
