.groups-tabs {
  margin-top: 1em;
}

/* .groups-tabs .ant-tabs > .ant-tabs-nav {
  position: sticky;
  top: 45px;
  right: 0;
  background-color: #eff2f6;
} */

.so-groups-tabs {
  position: sticky;
  top: 43px;
  right: 0;
  background-color: #eff2f6;
}

.so-groups-tabs:before {
  content: '';
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eff2f6;
  height: 100%;
}

.groups-tabs .ant-tabs {
  overflow: initial !important;
}
.groups-tabs.tabs-1-only .ant-tabs-tab {
  width: 100%;
  justify-content: center;
  margin-right: 0;
}

.groups-tabs.tabs-2-only .ant-tabs-nav-list {
  display: flex;
  justify-content: space-between;
}

.groups-tabs.tabs-2-only .ant-tabs-tab {
  width: 50%;
  justify-content: center;
  margin-right: 0;
}

.groups-tabs.tabs-3-only .ant-tabs-tab {
  width: 33%;
  justify-content: center;
  margin-right: 0;
}

.groups-tabs .ant-tabs-tab-btn:active {
  color: rgba(0, 0, 0, 0.25);
}

.groups-tabs .ant-tabs-extra-content {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 3;
  padding-bottom: 5px;
}

.groups-tabs .ant-tabs-extra-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
}

.groups-tabs .ant-tabs-extra-content .react-icon {
  position: relative;
  top: 4px;
}

.groups-tabs .ant-tabs-extra-content .react-icon {
  color: var(--primary-color);
}

.groups-tabs .ant-tabs-extra-content .disabled {
  color: rgba(0, 0, 0, 0.25);
}

/* .groups-tabs .ant-tabs-nav-operations {
  display: none;
} */