.order-history-card h4 {
  font-weight: 500;
}

.order-history-card > * {
  margin-bottom: 0.8em;
}
.order-history-card ul {
  list-style-type: none;
}
.order-history-card .orders {
  align-items: flex-start;
}
.order-history-card .orders .status-title {
  margin-right: 0.5em;
}
.order-history-card .orders .status svg {
  font-size: 1.2rem;
}
.order-history-card .orders .status-picked-up svg {
  color: #09ae19;
}
.order-history-card .orders .status-canceled svg {
  color: #ff0000;
}
.order-history-card .orders .status-awaiting svg {
  color: #ff8b0f;
}

.order-history-card button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.share-order button svg {
  font-size: 1.1rem;
}
