.order-status__send-buttons > * {
  width: 48%;
}
.order-status > * {
  margin-bottom: 2em;
}
.order-status p {
  font-weight: 400;
}
.order-status .order-status__pickup > *,
.order-status .order-status__directions > * {
  margin-bottom: var(--default-margin-bottom);
}
.flex.order-status__timeline {
  align-items: flex-start;
  justify-content: center;
}
.order-status__timeline > * {
  margin: 0 1em;
}
.order-status__timeline img {
  max-height: 90px;
}
.order-status__re-order-title {
  margin-left: 1em;
}
.order-status__pickup p > span:nth-child(2) {
  font-weight: 600;
}
.order-status__barcode svg {
  width: 100%;
}
