.order-status__send-buttons > * {
  width: 48%;
}
.order-status > * {
  margin-bottom: 2em;
}
.order-status p {
  font-weight: 400;
}
.order-status .order-status__pickup > *,
.order-status .order-status__directions > * {
  margin-bottom: var(--default-margin-bottom);
}
.flex.order-status__timeline {
  align-items: flex-start;
  justify-content: center;
}
.order-status__timeline > * {
  margin: 0 1em;
}
.order-status__timeline img {
  max-height: 90px;
}
.order-status__re-order-title {
  margin-left: 1em;
}
.order-status__pickup p > span:nth-child(2) {
  font-weight: 600;
}
.order-status__barcode svg {
  width: 100%;
}

.order-status__pickup-delivery-type {
  font-size: 1.2rem;
  line-height: 0;
  color: rgba(0, 0, 0, 0.99);
  top: 3px;
  position: relative;
}

.order-status__pickup-table {
  line-height: 0;
  font-size: 1.2rem;
  top: 2px;
  position: relative;
}

.order-status__pickup-table-number {
  font-size: 1.8rem;
  line-height: 0;
  font-weight: 700;
  color: var(--secondary-color);
  position: relative;
  top: 7px;
}

.order-status__directions-image {
  width: 100%;
  height: auto;
}