.product > * {
  margin-bottom: var(--default-margin-bottom);
}
.product img {
  width: 100%;
  max-width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.product-card__wrapper > * {
  margin-bottom: var(--default-margin-bottom);
}
.product .product-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.product .product-price {
  font-weight: 500;
}

.product .product-description-text {
  font-size: 0.8rem;
}

.product .addons-row,
.product .preferences {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product .addons-row .ant-radio-group {
  display: block;
  width: 100%;
}

.product-row > * {
  margin-bottom: var(--default-margin-bottom);
}
.product-row h5 {
  font-style: italic;
  margin-bottom: 1.5em;
}
.product .addons-row .choice {
  width: 50%;
  display: flex;
  align-self: flex-start;
}

.product .addons-row .addon-label-checkbox {
  position: relative;
  bottom: 3px;
}
.ant-checkbox-wrapper-checked .addon-label {
  font-weight: 600;
}
.addon-label-checkbox__price {
  margin-left: 2px;
}
.notes,
.product .notes .ant-input-affix-wrapper,
.product .notes input {
  background-color: #faf9ff;
}

.notes .ant-input-affix-wrapper > input.ant-input {
  font-size: 0.8rem;
}

/*@media screen and (min-width: 400px) {
  .share-product button br {
    display: none;
  }
  .share-product button {
    !*width: auto;*!
  }
}*/

.product-order {
  padding-top: 2em;
}
.product-order > * {
  margin-bottom: var(--default-margin-bottom);
}

.product-order .product-order__row {
  margin-bottom: 3em;
}

.product-order__share-btn {
  border: 1px solid var(--primary-color);
}
.product-order .product-order__share-btn svg {
  color: var(--primary-color);
}
.product-order .product-order-counter {
  display: flex;

  align-items: center;
  justify-content: flex-end;
}
.product-order .product-order-counter > * {
  margin-left: 0.8em;
}

.product-order .product-order-counter .ant-btn {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.product-order .product-order-counter .ant-btn span {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.25rem;
}

.product-order-counter-qty {
  min-width: 20px;
  text-align: center;
}
.product-order .ant-btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.submenu-items-side-header {
  display: flex;
  align-items: center;
  padding: 1em 0;
}
.submenu-items-side-header > span {
  margin-right: 1em;
}
.product-card__item-versions .ant-select {
  width: 100%;
}
.product-card__item-versions .ant-select-selection-item {
  color: #0097a7 !important;
}

.product-card__item-versions .choice, .product-row .choice {
  margin-bottom: 10px;
}

.product-card__item-versions .ant-radio-inner, .product-row .ant-radio-inner {
  border-color: #bbb;
  width: 18px;
  height: 18px;
}

.product-card__item-versions .ant-radio-inner:after, 
  .product-row .ant-radio-inner:after {
    width: 10px;
    height: 10px;
  }

.options-circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.submenu-items-side-header-left .options-circle {
  background: linear-gradient(-90deg, white 50%, var(--primary-color) 50%);
  border: 1px solid var(--primary-color);
}
.submenu-items-side-header-left ~ .product-row {
  border-bottom: 2px solid var(--primary-color);
}
.submenu-items-side-header-right {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.submenu-items-side-header > span:nth-child(1) {
  text-transform: capitalize;
}
.submenu-items-side-header-right .options-circle {
  background: linear-gradient(-90deg, var(--secondary-color) 50%, white 50%);
  border: 1px solid var(--secondary-color);
}
.submenu-items-side-header-right ~ .product-row {
  border-bottom: 2px solid var(--secondary-color);
}
