@font-face {
  font-family: DsDigital;
  src: url('../../assets/fonts/ds_digital/DS-DIGI.TTF');
}

* {
  font-family: 'Poppins', sans-serif !important;
}
body * {
  font-size: 0.875rem;
}
body {
  color: rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 400px) {
  html {
    font-size: 18px;
  }
}
/*body,
html {
  overflow-x: hidden;
}*/
:root {
  --primary-color: #0097a7;
  --secondary-color: #f5821d;
  --color-green: #16b55e;
  --color-light-grey: #8d9c9e;
  --color-primary-bg: #faf9ff;
  --default-margin-bottom: 1em;
  --vantiv-iframe-height: 330px;
}
.font-size-xs {
  font-size: 0.7rem !important;
}
.font-size-sm,
.font-size-sm > * {
  font-size: 0.8rem;
}
.font-size-md,
.font-size-md > * {
  font-size: 1rem;
}
.font-size-lg,
.font-size-lg > * {
  font-size: 1.1rem;
}
.font-size-xl {
  font-size: 2rem;
}
.font-size-default {
  font-size: 0.875rem;
}
a {
  color: #0097a7;
}
/*Common*/
.bg-secondary {
  background-color: var(--color-primary-bg);
}
.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary input {
  background-color: #faf9ff;
}
.bg-primary > * {
  color: #fff !important;
}
/*.container p {
  margin-bottom: 0;
}*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-content {
  background-color: #eff2f6;
}
.page-header {
  background-color: var(--primary-color);
  /*min-height: 60px;*/
}
.page-header * {
  color: #fff;
}
.page-loader {
  background-color: #eff2f6;
}
.ant-spin-dot-item {
  background-color: var(--primary-color) !important;
}
.card {
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(48, 48, 48, 0.1);
  -moz-box-shadow: 0px 5px 6px 0px rgba(48, 48, 48, 0.1);
  box-shadow: 0px 5px 6px 0px rgba(48, 48, 48, 0.1);
}
.p-default {
  padding: 0.7em 1em;
}
.vh-100 {
  height: 100vh;
}
.border-dashed {
  border-color: var(--primary-color);
}
.primary-text,
.primary-text > * {
  color: var(--primary-color) !important;
}

.discounted-text,
.discounted-text > * {
  color: var(--color-green);
}
.primary-text-picker {
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  border-radius: 2px;
}

/*Ant Design*/
/*Checkboxes*/
.ant-checkbox-wrapper {
  display: flex;
  align-items: flex-start;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: var(--primary-color) !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.ant-checkbox-checked:after {
  border-color: var(--primary-color) !important;
}
/*Radio*/
.ant-radio-checked .ant-radio-inner {
  border-color: var(--primary-color) !important;
}
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: var(--primary-color) !important;
}
.ant-radio-inner:after {
  background-color: var(--primary-color) !important;
}
/*Links*/
.ant-picker-now a {
  color: var(--primary-color);
}
/*Menu Items*/
.ant-menu-item,
.ant-menu-item a,
.ant-menu-submenu-title {
  color: #272a3f !important;
}
.ant-menu-item svg,
.ant-menu-submenu-title svg {
  color: var(--primary-color);
}

.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
  background: -webkit-gradient(
          linear,
          left top,
          right top,
          from(var(--primary-color)),
          to(var(--primary-color))
  ) !important;
  background: linear-gradient(to right, var(--primary-color), var(--primary-color)) !important;
}
/*Pickers*/
.primary-text-picker .ant-picker-input > input {
  color: var(--primary-color) !important;
  background-color: #fff;
}
.primary-text-picker .ant-select-selector {
  border: none !important;
}
.primary-text-picker.ant-picker {
  height: 34px !important;
}
.primary-text-picker svg {
  color: var(--primary-color) !important;
}
.ant-picker-ok .ant-btn-primary {
  background: var(--primary-color);
  border-color: #058fa7;
}

/*Categories tabs*/
.groups-tabs .ant-tabs-tab {
  color: #a4a9aa;
}
.groups-tabs .ant-tabs-nav-list {
  flex-grow: 1;
}
.groups-tabs .ant-tabs-nav-list,
.groups-tabs .ant-tabs-nav-operations {
  border-top: 2px solid var(--primary-color);
}
.groups-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--primary-color);
}
.groups-tabs .ant-tabs-tab-btn {
  font-size: 1rem;
}
.groups-tabs .ant-tabs-ink-bar {
  background: var(--primary-color);
}

.groups-tabs .ant-tabs-tab:hover {
  color: var(--primary-color);
}
.ant-input-prefix {
  font-size: 1.1rem;
  color: var(--primary-color);
}
.notes .ant-input:focus,
.ant-input-focused {
  border-color: var(--primary-color) !important;
  outline: none !important;
}
.notes .ant-input-affix-wrapper,
.ant-input-affix-wrapper:hover {
  /*border-color: #0097a7 !important;*/
  border: none !important;
}

.ant-btn {
  background: var(--color-primary-bg);
}
.ant-btn[disabled] {
  color: rgba(0, 0, 0, 0.25) !important;
}
.ant-btn-primary:not(disabled),
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}
.ant-btn:not(.ant-btn-circle),
.ant-btn:not(.ant-btn-circle),
.ant-btn:not(.ant-btn-circle) {
  border-radius: 4px;
}
.ant-btn:not(.ant-btn-primary):not(.ant-btn-circle):not(disabled),
.ant-btn:not(.ant-btn-primary):hover,
.ant-btn:not(.ant-btn-primary):focus {
  color: #0097a7;
}
.ant-btn:not(.ant-btn-primary):not(.ant-btn-circle):not(.ant-btn-link):not(disabled),
.ant-btn:not(.ant-btn-primary):hover:not(.ant-btn-circle):not(.ant-btn-link),
.ant-btn:not(.ant-btn-primary):focus:not(.ant-btn-circle):not(.ant-btn-link) {
  background: #faf9ff;
  border-color: var(--primary-color);
}
button.ant-btn:not(.ant-btn-circle):not(.ant-btn-icon-only) svg {
  margin-right: 0.5em;
}

.ant-slider-dot-active {
  border-color: var(--primary-color);
}
.ant-slider-handle,
.ant-slider-handle:focus {
  border: solid 2px var(--primary-color);
}
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: var(--primary-color);
}
.ant-slider-track,
.ant-slider:hover .ant-slider-track {
  background-color: var(--primary-color);
}
/*timeline*/
.ant-timeline-item-head {
  width: 16px;
  height: 16px;
}
.ant-timeline-item-tail {
  left: 7px;
}
.ant-timeline-item-head-blue {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.ant-timeline-item-content {
  top: -3px;
}
.ant-timeline-item-content .active-label {
  color: var(--primary-color);
  font-weight: 500;
}
.ant-message-notice-content {
  word-break: break-all;
  text-align: left;
}
.ant-message-notice:first-child {
  margin-top: 34px;
}
.ant-select-arrow {
  top: 48%;
}
.hidden {
  display: none;
}
